[SubmitProteome]
module=Dummy
input_id_type=PROTEOME


[SubmitTranscriptChunk]
module=Dummy
input_id_type=FILE


[SGD]
db_version=1
program=SGD
gff_source=SGD
gff_feature=gene


[SubmitFile]
module=Dummy


[scanprosite]
db=prosite
db_file=/acari/analysis/iprscan/data/prosite.patterns
program=/acari/analysis/iprscan/bin/scanregexpf.pl
program_file=/acari/analysis/iprscan/bin/scanregexpf.pl
parameters=-confirm /acari/analysis/iprscan/data/confirm.patterns
module=Protein/ScanProsite
gff_source=Prosite
gff_feature=domain
input_id_type=FILE


[CpG]
db=cpg
program=cpg
module=CPG
gff_source=cpg
gff_feature=cpg_island


[GeneFinder]
program=GeneFinder
program_version=1
module=Genefinder
gff_source=GeneFinder
gff_feature=prediction


[ncoils]
program=/usr/local/ensembl/bin/ncoils
program_file=/usr/local/ensembl/bin/ncoils
module=Protein/Coil
gff_source=ncoils
gff_feature=annotation
input_id_type=FILE


[Eponine]
db=Eponine
program=eponine-scan
program_version=1
program_file=/usr/opt/java/bin/java
parameters=-epojar => /usr/local/ensembl/lib/eponine-scan.jar, -threshold => 0.999
module=EponineTSS
gff_source=Eponine
gff_feature=annotation


[Uniprot]
db=uniprot
db_file=uniprot
program=wublastx
program_version=1
program_file=/usr/local/ensembl/bin/wublastx
module=Blast
gff_source=wublastx
gff_feature=similarity


[tmhmm]
program=/acari/work5a/lec/code/run_tmhmm
program_file=/acari/work5a/lec/code/run_tmhmm
module=Protein/Tmhmm
gff_source=Tmhmm
gff_feature=annotation
input_id_type=FILE


[Genscan]
db=/ecs2/work2/sw4/Yeast/Config/Yeastish.smat
db_version=1
db_file=/ecs2/work2/sw4/Yeast/Config/Yeastish.smat
program=genscan
program_version=1.0
program_file=genscan
module=Genscan
gff_source=genscan
gff_feature=prediction


[Signalp]
db=signal_peptide
program=signalp
program_file=signalp
module=Protein/Signalp
gff_source=Signalp
gff_feature=annotation
input_id_type=FILE


[operon]
db_version=1
program=operon
gff_source=SGD
gff_feature=operon


[SubmitChr]
module=Dummy


[mapping]
db=SPTR/ANOSUB
program=exonerate
program_file=exonerate
module=NULL
gff_source=mapping
gff_feature=mapping


[SubmitChromosome]
module=Dummy


[Dust]
program=dust
program_version=1
program_file=tcdust
module=Dust
gff_source=dust
gff_feature=dust


[ncRNA]
db_version=1
program=ncRNA
gff_source=SGD
gff_feature=gene


[pfscan]
db_file=/acari/analysis/iprscan/data/prosite_prerelease.prf
program=/acari/analysis/iprscan/bin/Linux/pfscan
program_file=/acari/analysis/iprscan/bin/OSF1/pfscan
module=Protein/Profile
gff_source=Profile
gff_feature=domain
input_id_type=FILE


[Prints]
db=prints
db_file=/acari/analysis/iprscan/data/prints.pval
program=/acari/analysis/iprscan/bin/Linux/FingerPRINTScan
program_file=FingerPRINTScan
module=Protein/Prints
gff_source=Prints
gff_feature=domain
input_id_type=FILE


[Pfam]
db=Pfam
db_file=/data/blastdb/Ensembl/Pfam_ls;/data/blastdb/Ensembl/Pfam_fs
program=/usr/local/ensembl/bin/hmmpfam
program_file=/usr/local/ensembl/bin/hmmpfam
module=Protein/Hmmpfam
gff_source=Pfam
gff_feature=domain
input_id_type=TRANSLATIONID


[TRF]
program=trf
program_version=1
module=TRF
gff_source=trf
gff_feature=repeat


[SubmitTranscript]
module=Dummy
input_id_type=TRANSLATIONID


[Seg]
program=seg
program_file=seg
module=Protein/Seg
gff_source=Seg
gff_feature=annotation
input_id_type=PROTEOME


[est_exonerate]
db_version=2005-01-14
program=/usr/local/ensembl/bin/exonerate-0.8.3
program_version=0.8.3
program_file=/usr/local/ensembl/bin/exonerate-0.8.3
module=Bio::EnsEMBL::Analysis::RunnableDB::Exonerate2Genes
gff_source=Exonerate
gff_feature=similarity


[tRNAscan]
db=trna
program=tRNAscan-SE
program_version=1.23
module=tRNAscan_SE
gff_source=tRNAscan
gff_feature=tRNA


