[scanprosite]
condition=SubmitTranscriptChunk
[pfscan]
condition=SubmitTranscriptChunk
[ncoils]
condition=SubmitTranscriptChunk
[Prints]
condition=SubmitTranscriptChunk
[Signalp]
condition=SubmitTranscriptChunk
[Seg]
condition=SubmitProteome
[Pfam]
condition=SubmitTranscript
[tmhmm]
condition=SubmitTranscriptChunk
