[SubmitSlice]
module=Dummy
input_id_type=SLICE300k


[SubmitScaffold]
module=Dummy
input_id_type=SCAFFOLD


[CpG]
db=cpg
program=cpg
module=CPG
gff_source=cpg
gff_feature=cpg_island
input_id_type=SCAFFOLD


[Dust]
program=dust
program_version=1
program_file=tcdust
module=Dust
gff_source=dust
gff_feature=dust
input_id_type=SCAFFOLD


[Eponine]
db=Eponine
program=eponine-scan
program_version=1
program_file=/usr/opt/java/bin/java
parameters=-epojar => /usr/local/ensembl/lib/eponine-scan.jar, -threshold => 0.999
module=EponineTSS
gff_source=Eponine
gff_feature=annotation
input_id_type=SCAFFOLD


[TRF]
program=trf
program_version=1
module=TRF
gff_source=trf
gff_feature=repeat
input_id_type=SCAFFOLD


[Uniprot_wublastx]
db=uniprot
db_file=uniprot
program=wublastx
program_version=1
program_file=/usr/local/ensembl/bin/wublastx
module=Blast
gff_source=wublastx
gff_feature=similarity
input_id_type=SLICE30k


[RepeatMask]
db=repbase
db_version=020713
program=RepeatMasker
program_version=020713
program_file=/usr/local/ensembl/bin/RepeatMasker-020713
parameters=-l
module=RepeatMasker
gff_source=RepeatMasker
gff_feature=repeat
input_id_type=SCAFFOLD


[Submit30kSlice]
module=Dummy
input_id_type=SLICE30k


[tRNAscan]
db=trna
program=tRNAscan-SE
program_version=1.23
module=tRNAscan_SE
gff_source=tRNAscan
gff_feature=tRNA
input_id_type=SLICE300k


