[SubmitSlice]
module=Dummy
input_id_type=SLICE300k


[SubmitChromosome]
module=Dummy
input_id_type=CHROMOSOME


[CpG]
db=cpg
program=cpg
program_version=1
program_file=cpg
module=CPG
gff_source=cpg
gff_feature=cpg_island
input_id_type=CHROMOSOME


[Dust]
program=dust
program_version=2
program_file=tcdust
module=Dust
gff_source=dust
gff_feature=dust
input_id_type=CHROMOSOME


[Eponine]
db=Eponine
program=eponine-scan
program_version=1
program_file=/usr/opt/java/bin/java
parameters=-epojar => /usr/local/ensembl/lib/eponine-scan.jar, -threshold => 0.999
module=EponineTSS
gff_source=Eponine
gff_feature=annotation
input_id_type=CHROMOSOME


[TRF]
program=trf
program_file=trf
module=TRF
gff_source=trf
gff_feature=tandem_repeat
input_id_type=CHROMOSOME


[Uniprot]
db=uniprot
db_version=051108
db_file=uniprot
program=wublastp
program_file=wublastp
parameters=-cpus => 1, -hitdist => 40
module=BlastGenscanPep
gff_source=wublastp
gff_feature=similarity
input_id_type=SLICE30k

[UniGene]
db=uniuni
db_file=uniuni
program=wutblastn
program_file=wutblastn
parameters=-cpus => 1, -hitdist => 40
module=BlastGenscanDNA
gff_source=wutblastn
gff_feature=similarity
input_id_type=SLICE30k

[RepeatMask]
db=repbase
db_file=repbase
db_version=051122
program=RepeatMasker
program_version=051122
program_file=/usr/local/ensembl/bin/RepeatMasker-051122
parameters=-nolow -s
module=RepeatMasker
gff_source=RepeatMasker
gff_feature=repeat
input_id_type=CHROMOSOME

[Genscan]
db=/nfs/acari/jb16/projects/Scerevisiae/Config/Yeastish.smat
db_version=1
db_file=/nfs/acari/jb16/projects/Scerevisiae/Config/Yeastish.smat
program=genscan
program_version=1.0
program_file=genscan
module=Genscan
gff_source=genscan
gff_feature=prediction
input_id_type=CHROMOSOME

[Submit30kSlice]
module=Dummy
input_id_type=SLICE30k


[tRNAscan]
db=trna
program=tRNAscan-SE
program_version=1.23
module=tRNAscan_SE
gff_source=tRNAscan_SE
gff_feature=tRNA
input_id_type=SLICE300k

[SGD]
db_version=1
program=SGD
gff_source=SGD
gff_feature=gene
input_id_type=SLICE300k

[GeneFinder]
program=GeneFinder
program_version=1
module=Genefinder
gff_source=GeneFinder
gff_feature=prediction
input_id_type=CHROMOSOME


[mapping]
db=SPTR/ANOSUB
program=exonerate
program_file=exonerate
module=Exonerate2Genes
gff_source=mapping
gff_feature=mapping
input_id_type=SLICE300k


[ncRNA]
db_version=1
program=ncRNA
gff_source=SGD
gff_feature=gene
input_id_type=CHROMOSOME


[est_exonerate]
db_version=2005-01-14
program=/usr/local/ensembl/bin/exonerate-1.0.0
program_version=1.0.0
program_file=/usr/local/ensembl/bin/exonerate-1.0.0
module=Bio::EnsEMBL::Analysis::RunnableDB::Exonerate2Genes
gff_source=Exonerate
gff_feature=similarity
input_id_type=FILE


[SubmitESTs]
module=Dummy
input_id_type=FILE
